{% include 'base.html' %}

{% block 'content' %}
<style>
</style>
 <!-- Ana li hankemel had la partie ok !-->
<main class="app-content">
            <div class="app-title">
                <div>
                    <h1>
                        <i class="fa fa-calendar"></i>
                        Mon badge
                    </h1>
                </div>
            </div>
            
    <div class="tile">
        <div class="tile-body">
            <div class="card__content">
				<div>
					<h2>Card One</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-1.jpg" alt="Image description">
				</figure>
			</div>
        </div>
    </div>
</main>
{% endblock  %}
