{% extends 'dashboard/base.html' %}

{% block 'content' %}
{% load static %}

<style>
    .btn,button{
        border-radius: 20px;
        color: #469612;
        cursor: pointer;
        background-color: white;
        text-decoration: none !important;
    }
</style>

<main class="app-content">
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-university"></i>
                Liste des Etablissements
            </h1>
        </div>
    </div>
    <div class="clearfix"></div>
       
        <div class="col-md-12">
              <div class="tile">
              <div class="tile-title">
                <button class="btn show-form" data-url="#" >Ajouter</button>
                <button class="btn">Exporter</button>
              </div>
                  <div class="table-responsive">
                            <table class="table" id="etab-table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Representant</th>
                                        <th>Adresse</th>
                                        <th>Code postal</th>
                                        <th>Type</th>
                                        
                                    
                                        <th style="color: #469612;">Modifier</th>
                                        <th style="color: #469612;">Supprimer</th>
                                                            
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include 'dashboard/etablissement/etabitems.html' %}
                                </tbody>
                            </table>
                    </div>        
            </div>
            
        </div>

</main>

<div class="modal fade" id="modal-etab">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock  %}