{% extends 'dashboard/base.html' %}

{% block 'content' %}
<main class="app-content">
    <div style="margin-bottom: 50px;" class="app-title">
        <div>
            <h1>
                <i class="fa fa-qrcode"></i>
                Qr-Code
            </h1>
        </div>
    </div>
    <div style="padding: 50px;" class="tile">
        <div class="tile-body">
            <h4>Veuillez saisir le nom du Membre</h4>
            <form style="display: block;" action="" class='form-inline'>
                <div class="input-group">
                  <input type='text' id='search' class="form-control search-form" placeholder="Search...">
                  <span class="input-group-btn" style="width:39px">
                    <button id="search-this"type="button" class="pull-right btn btn-default search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
        </div>
    </div>
    <div>
</main>
{% endblock  %}