{% load auth_extras %}
{% for a in  listAdherent %}

<tr>
        <td>{{a.username}}</td>
        <td>{{a.abonnement_count}}</td>
        <td>{{a.last_abonnement}}</td>

        {% if request.user.is_superuser %} 
            <td><button style="border-radius: 25px;" class="btn  show-form-update" data-url="#">
               <i style="margin:0 auto; font-size: 22px; color: #469612;" class="fa fa-edit" ></i>
            </button></td>
            <td><button style="border-radius: 25px;" class="btn  show-form-delete" data-url="#">
               <i style="margin:0 auto; font-size: 22px; color: #469612;" class="fa fa-trash-o"></i>
            </button></td>
        {% endif %}
</tr>
{% endfor %}