{% for p in partenaires  %}
<tr>
    <th scope="row">{{ p.nom }}</th>
        <td>{{ p.adresse }}</td>
        <td>{{ p.code_postal }}</td>
        <td>{{ p.num_tel }}</td>
       
        <td><button style="border-radius: 25px;" class="btn  show-form-update" data-url="{% url 'modifypartenaire' modify_id=p.id %}">
           <i style="margin:0 auto; font-size: 22px; color: #469612;" class="fa fa-edit" ></i>
        </button></td>
        <td><button style="border-radius: 25px;" class="btn  show-form-delete" data-url="{% url 'deletepartenaire' delete_id=p.id  %}">
           <i style="margin:0 auto; font-size: 22px; color: #469612;" class="fa fa-trash-o"></i>
        </button></td>
</tr>
{% endfor %}