{% extends 'base.html' %}

{% block 'content' %}
{% load static %}
{% load auth_extras %}
<style>

    .subscribe-title{
        color : #469612;
        margin-bottom: 12px;
    }
    .subscribe-price{
        font-size: 24px;
        font-weight: bold;
        margin-top: 12px;
        font-style: italic;
    }

    .subscribe-btn .btn{
        margin-top: 12px;
        border-radius: 25px; 
        border : 1px solid #469612 ;
        color : #469612;
    }



</style>
<main class="app-content">
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-credit-card-alt"></i>
                Abonnement
            </h1>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
    
        <div class="alert alert-{% if message.tags == error %}danger{% else %}{{message.tags}} {% endif %} alert-dismissible fade show" role="alert">
            <strong>Infos!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        </div>
        
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="tile pack-silver">
                <div class="subscribe-title text-center">
                    <h3>PACK SILVER</h3>
                </div>
                <div class="subscribe-icon text-center">
                     <img src="{% static 'img/silver-cup.png'%}">
                </div>
                <div class="subscribe-price text-center">
                    <span>29.99 €</span>
                </div>
                <div class="subscribe-btn text-center">
                    <button class="btn" data-toggle="modal" data-target="#subscribe-modal">S'abonner</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile pack-gold">
                <div class="subscribe-title text-center">
                    <h3>PACK GOLD</h3>
                </div>
                <div class="subscribe-icon text-center">
                     <img src="{% static 'img/gold-cup.png'%}">
                </div>
                <div class="subscribe-price text-center">
                    <span>39.99 €</span>
                </div>
                <div class="subscribe-btn text-center">
                    <button class="btn" data-toggle="modal" data-target="#subscribe-modal" >S'abonner</button>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="tile pack-bronze">
                <div class="subscribe-title text-center">
                    <h3>PACK BRONZE</h3>
                </div>
                <div class="subscribe-icon text-center">
                     <img src="{% static 'img/bronze-cup.png'%}">
                </div>
                <div class="subscribe-price text-center">
                    <span>19.99 €</span>
                </div>
                <div class="subscribe-btn text-center">
                    <button class="btn" data-toggle="modal" data-target="#subscribe-modal">S'abonner</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12">
        <div class="tile-title">
            <h4>Historiques</h4>
        </div>
        <div class="tile">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Type d'abonnement</th>
                            <th>Date d'abonnement</th>
                            <th>Validité d'abonnement</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listAbonnement in page_adherent %}
                            <tr>
                                <td>{{listAbonnement.id_abonnement.type_abonnement}}</td>
                                <td>{{listAbonnement.date_abonnement|date:"Y-m-d H:i, A"}}</td>
                                <td>
                                    {% addDays request.user.id 10 forloop.counter0 %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if not page_adherent|length_is:"0" %}    
                 <!--Pagination-->
                 <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    {% for i in page_adherent.paginator.page_range %}
                        {% if page_adherent.number == i  %}
                        <li class="page-item active" aria-current="page">
                            <span style="background-color: #469612;" class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a style="color: #469612;" class="page-link" href="?pagePacks={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
                <!--end of Pagination-->  
                {% endif %} 


        </div>
    </div>


    </div>
</main>

  
  <!-- Modal CONFIRMATION D'ABONNEMENT -->
  <div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url 'abonnementPack' %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation d'abonnement</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="">

                <input type="text" name="id_abonnement" id="id_id_abonnement">
                <input type="text" name="id_membre" id="id_id_membre" value="{{request.user.id}}">
                

                {# {{adherentForm.id_membre}} #}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Confirmer</button>
            </div>
        </form>
      </div>
    </div>
  </div>

<script>

  


</script>


{% endblock 'content' %}