{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Dashboard of application Green-form">

    {% block 'title' %}<title>Forma Green | Acceuil</title>{% endblock  %} 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/green-energy.png' %}" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %} " />
    <link el="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %} " />
    <!-- Font-icon css-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
  </head>
  <body class="app sidebar-mini rtl">
  <style>

    .app-header {
      background-color: #469612 !important;
      height : 50px !important;
    }

    .app-header__logo {
      background-color: #fff !important;
      color: #469612 !important;
      text-align: left !important;

    }

    .app-header__logo-img {
      bottom: 8px !important;
      position: relative !important;
      
    }

    .text-logo{
      margin-right: 0px !important;
      position: relative;
      right: 24px !important;
    }

    .app-header__logo{
      display : flex;
      align-items : center;
      justify-content : center;
    }

    .app-header__logo-img{
      margin-bottom : 5px;
    }

    .text-logo{
      margin-right : 20px;
    }
  </style>
  
    <!-- Navbar-->
    <header class="app-header">
    <a class="app-header__logo" href="{% url 'home' %}">
    <div class="app-header__logo-img" ><img style="width:50%;height:auto;" src="{% static 'img/green-energy.png' %}" /></div><div class="text-logo">Forma Green</div></a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right">
            <li class="app-notification__title">You have 4 new notifications.</li>
            <div class="app-notification__content">
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Transaction complete</p>
                      <p class="app-notification__meta">2 days ago</p>
                    </div></a></li>
              </div>
            </div>
            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
          </ul>
        </li>

        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Parametres</a></li>
            <li><a class="dropdown-item" href="{% url 'profil' %}"><i class="fa fa-user fa-lg"></i> Profil</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-lg"></i>Deconnexion</a></li>
          </ul>
        </li>
      </ul>
    </header>


    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img style="width:20%;" class="app-sidebar__user-avatar" src="{% static 'img/default.jpg' %}" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">Chekhche Ali</p>
          <p class="app-sidebar__user-designation">Administrateur</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item active" href="{% url 'home' %}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Tableau de bord</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Mon Association</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'memberslist' %}"><i style="padding-right:10px;" class="fa fa-address-card" aria-hidden="true"></i>Liste des membres</a></li>
            <li><a class="treeview-item" href="{% url 'abonnementList' %}"><i style="padding-right:10px;" class="fa fa-credit-card-alt" aria-hidden="true"></i>Liste des abonnements</a></li>
            <li><a class="treeview-item" href="{% url 'qrcodesearch' %}"><i style="padding-right:10px; font-size: 20px;" class="fa fa-qrcode" aria-hidden="true"></i>Qr code</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Activités</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'activitylist' %}"><i style="padding-right:10px;" class="fa fa-calendar" aria-hidden="true"></i>Listes d'activités</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-handshake"></i><span class="app-menu__label">Partenaires</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'partnersList' %}"><i style="padding-right:10px;" class="fa fa-list" aria-hidden="true"></i>Listes des partenaires</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i style="padding-right:10px;" class="app-menu__icon fa fa-tree"></i><span class="app-menu__label">Espaces verts</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="{% url 'mapVisualization' %}"><i style="padding-right:10px;" class="fa fa-map" aria-hidden="true"></i>Carte de visualisation</a></li>
            <li><a class="treeview-item" href="{% url 'etablissementList' %}"><i style="padding-right:10px;" class="fa fa-university" aria-hidden="true"></i>Liste des établissements</a></li>
          </ul>
        </li>
        
      </ul>
    </aside>

    
    <div>
    {% block 'content' %}
    {% endblock  %}
    </div>

  <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %} "></script>
    <script src="{% static 'js/popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>

  <!-- modal show & save form -->  
    <script src="{% static 'js/membre.js' %}"></script>
    <script src="{% static 'js/activity.js' %}"></script>
    <script src="{% static 'js/etablissement.js' %}"></script>
    <script src="{% static 'js/partenaire.js' %}"></script>
    <script src="{% static 'js/abonnement.js' %}"></script>
    <script src="{% static 'js/qrcode.js' %}"></script>
    
    
    
    <script>
        (function () {
      "use strict";

      var treeviewMenu = $('.app-menu');

      // Toggle Sidebar
      $('[data-toggle="sidebar"]').click(function(event) {
        event.preventDefault();
        $('.app').toggleClass('sidenav-toggled')
        $(".app-sidebar__user-avatar").toggle()
      });

      // Activate sidebar treeview toggle
      $("[data-toggle='treeview']").click(function(event) {
        event.preventDefault();
        if(!$(this).parent().hasClass('is-expanded')) {
          treeviewMenu.find("[data-toggle='treeview']").parent().removeClass('is-expanded');
        } 
        $(this).parent().toggleClass('is-expanded');
      });

      // Set initial active toggle
      $("[data-toggle='treeview'].is-expanded").parent().toggleClass('is-expanded');

      //Activate bootstrip tooltips
      $("[data-toggle='tooltip']").tooltip();
      // $(".app-sidebar")

    })();

    </script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %} "></script>
  </body>
  </html>