{% extends 'base.html' %}

{% block 'content' %}
{% load static %}

<style>
    .btn,button{
        border-radius: 20px;
        color: #469612;
        cursor: pointer;
        background-color: white;
        text-decoration: none !important;
    }

    .exportcsv{
        color: #469612;
    }

    .exportcsv:hover{
        color: #469612;
    }

</style>

<main class="app-content">
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-university"></i>
                Liste des Etablissements
            </h1>
        </div>
    </div>
    <div class="clearfix"></div>
       
        <div class="col-md-12">
              <div class="tile"> 
              <div class="tile-title">
               {% if request.user.is_superuser %} 
                <button class="btn show-form" data-url="{% url 'addetablissement' %}" >Ajouter</button>
                {% endif %}  
                <button class="btn"><a class="exportcsv" style="text-decoration:none;" href="{% url 'export_etab' %}">Exporter</a></button>
              </div>
                  <div class="table-responsive">
                            <table class="table" id="etab-table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Representant</th>
                                        <th>Adresse</th>
                                        <th>Code postal</th>
                                        <th>Type</th>
                                        
                                    
                                        <th></th>
                                        <th></th>
                                                            
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include 'dashboard_admin/etablissement/etabitems.html' %}
                                </tbody>
                            </table>
                    </div>   
                {% if not etablissement|length_is:"0" %} 
                 <!--Pagination-->
                 <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                    
                    {% for i in etablissement.paginator.page_range %}
                        {% if etablissement.number == i %}
                        <li class="page-item active" aria-current="page">
                            <span style="background-color: #469612;" class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a style="color: #469612;" class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    </ul>
                </nav>
                <!--end of Pagination-->
                {% endif %}
                
            </div>
            
        </div>

</main>

<div class="modal fade" id="modal-etab">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock  %}