{% extends 'dashboard_admin/base.html' %}

{% block 'content' %}
{% load static %}
<style>
    .btn,button{
        border-radius: 20px;
        color: #469612;
        cursor: pointer;
        background-color: white;
        text-decoration: none !important;
    }

    .exportcsv{
        color: #469612;
    }

    .exportcsv:hover{
        color: #469612;
    }
</style>
<main class="app-content">
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-address-card"></i>
                Liste des Membres
            </h1>
        </div>
    </div>
    <div class="clearfix"></div>
       
        <div class="col-md-12">
              <div class="tile">
              <div class="tile-title">
                <h4 style="color: #222d32;">Personnes</h4>
                <button class="btn"><a class="exportcsv" style="text-decoration:none;" href="{% url 'export_membre' type="personne" %}">Exporter</a></button>
              </div>
                  <div class="table-responsive">
                            <table class="table" id="pers-table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Sexe</th>
                                        <th>Date d'inscription</th>
                                        <th></th>
                                                                                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include 'dashboard_admin/membres/personne/persitems.html' %}
                                </tbody>
                            </table>
                        </div>
                        {% if not personne|length_is:"0" %} 
                        <!--Pagination-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                            
                            {% for i in personne.paginator.page_range %}
                                {% if personne.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <span style="background-color: #469612;" class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                    </span>
                                </li>
                                {% else %}
                                <li class="page-item"><a style="color: #469612;" class="page-link" href="?pagePerson={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            </ul>
                        </nav>
                        <!--end of Pagination-->
                        {% endif %}            
                </div>        
            
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="tile">
            <div class="tile-title">
                <h4 style="color: #222d32;">Centre de formation</h4>  
              <button class="btn"><a class="exportcsv" style="text-decoration:none;" href="{% url 'export_membre' type="centre" %}">Exporter</a></button>
            </div>
                <div class="table-responsive">
                          <table class="table" id="centr-table">
                              <thead>
                                  <tr>
                                      <th>Responsable</th>
                                      <th>Nom du centre</th>
                                      <th>Date d'inscription</th>
                                      <th></th>
                                      
                                  
                                                          
                                  </tr>
                              </thead>
                              <tbody>
                                {% include 'dashboard_admin/membres/centre/centreitems.html' %}
                              </tbody>
                          </table>
                      </div>
                      {% if not centre|length_is:"0" %} 
                      <!--Pagination-->
                      <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center">
                          
                          {% for i in centre.paginator.page_range %}
                              {% if centre.number == i %}
                              <li class="page-item active" aria-current="page">
                                  <span style="background-color: #469612;" class="page-link">
                                  {{ i }}
                                  <span class="sr-only">(current)</span>
                                  </span>
                              </li>
                              {% else %}
                              <li class="page-item"><a style="color: #469612;" class="page-link" href="?pageCenter={{ i }}">{{ i }}</a></li>
                              {% endif %}
                          {% endfor %}
                          
                          </ul>
                      </nav>
                      <!--end of Pagination-->
                      {% endif %}              
              </div>        
          
      </div>
        
</main>

<div class="modal fade" id="modal-membre">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock  %}