{% extends 'base.html' %}

{% block 'content' %}

<main class="app-content">
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-lock fa-lg"></i>
                Renitialisation de votre mot de passe
            </h1>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="tile">
        
        <a href="{% url 'profil' %}" class="btn" style="margin-bottom : 16px ; border-radius: 25px; border : 1px solid #469612 ; color : #469612"><i class="fa fa-arrow-left"></i> Revenir au profil</a>

        {% if messages %}
  {% for message in messages %}

  <div class="alert alert-{% if message.tags == error %}danger{% else %}{{message.tags}} {% endif %} alert-dismissible fade show" role="alert">
    <strong>Informations!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% if formPassword.errors %}
    {% for field in formPassword %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in formPassword.errors.as_data %}
      
        <div class="alert alert-danger">
            <strong>{{ error | escape}}</strong>
        </div>
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="col-md-6">
      <div class="form-group">
          <label>Ancien mot passe</label>
          {{formPassword.old_password}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <label>Nouveau mot passe</label>
          {{formPassword.new_password1}}
          {% if formPassword.new_password1.help_text %}
          <div class="help">{{ formPassword.new_password1.help_text|safe }}</div>
          {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
          <label>Rèpètez votre nouveau mot passe</label>
          {{formPassword.new_password2}}
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </div>
    </div>  
  </form>




    </div>


</main>    
{% endblock  %}