

<form method="POST" data-url="{% url 'modifypersonne' modify_id=form.instance.id %}" class="update-form-pers">
    {% csrf_token %}
    <div class="modal-header">
       <h5 class="modal-title">Modifier une Personne</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
               <label for="username">Nom d'utilisateur</label>
               <div class="form-group">
                  {{form.username}}
                  </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <label for="password">Mot de passe</label>
               <div class="form-group">
                  {{form.password}}
                  </div>
            </div>
            <div class="col-md-6">
               <label for="password2">Répéter Mot de passe</label>
               <div class="form-group">
                  {{form.password2}}
                  </div>
            </div>
   
         </div>
   
         <div class="row">
            <div class="col-md-6">
               <label for="email">Email</label>
               <div class="form-group">
                  {{form.email}}
                  </div>
            </div>
            <div class="col-md-6">
               <label for="sexe">Sexe</label>
               <div class="form-group">
                  {{form.sexe}}
                  </div>
            </div>
   
         </div>
   
         
   
         <div class="row">
            <div class="col-md-6">
               <label for="nom">Nom</label>
               <div class="form-group">
                  {{form.nom}}
                  </div>
            </div>
            <div class="col-md-6">
               <label for="prenom">Prenom</label>
               <div class="form-group">
                  {{form.prenom}}
                  </div>
            </div>
   
         </div>
   
         <div class="row">
            <div class="col-md-6">
               <label for="adresse">Adresse</label>
               <div class="form-group">
                  {{form.adresse}}
                  </div>
            </div>
            <div class="col-md-6">
               <label for="code_postal">Code postal</label>
               <div class="form-group">
                  {{form.code_postal}}
                  </div>
            </div>
   
         </div>
   
         <div class="row">
            <div class="col-md-6">
               <label for="num_tel">Téléphone</label>
               <div class="form-group">
                  {{form.num_tel}}
                  </div>
            </div>
            <div class="col-md-6">
               <label for="type">Type</label>
               <div class="form-group">
                  {{form.type}}
                  </div>
            </div>
   
         </div>
    </div>
    <div class="modal-footer">
       <button type="submit" class="btn">Valider</button>
       <button type="button" class="btn" data-dismiss="modal">Annuler</button>
    </div>
 </form>   
 